
.views {
    width: 100%;
    height: 100vh;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;

    .logo-warp {
        display: flex;
        align-items: center;

        .logo {
            width: 40px;
            height: 40px;
        }
    }

    .search-wrapper {
        /*flex: 1;*/
        /*display: flex;*/
        /*align-items: center;*/
    }
}
