@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

:root {
    --primary: 0 96 255;
    --primary-light: 104 143 232;
    --primary-dark: 0 52 255;
    --tooltip-foreground: 255 255 255;
    --background-light: 255 255 255;
    --background-dark: 11 12 15;
    --gray-50: 242 245 250;
    --gray-100: 238 240 245;
    --gray-200: 222 225 230;
    --gray-300: 206 208 213;
    --gray-400: 158 161 166;
    --gray-500: 111 114 119;
    --gray-600: 79 82 87;
    --gray-700: 62 65 70;
    --gray-800: 37 40 45;
    --gray-900: 22 25 30;
    --gray-950: 10 13 17;
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
