/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/
@import "tailwindcss";

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/


:root {
    --color-primary: var(--el-color-primary, #007bff);
}
