
.views {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
    padding: 0 16px;

    .logo-warp {
        display: flex;
        align-items: center;

        .logo {
            width: 40px;
            height: 40px;
        }
    }

    .search-wrapper {
        color: white;
        /*flex: 1;*/
        /*display: flex;*/
        /*align-items: center;*/
    }
}

/*.sidebar {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    .service-select-wrapper {*/
/*        width: 100%;*/
/*        height: 64px;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        background-color: var(--ant-layout-header-bg);*/
/*        flex-shrink: 0;*/
/*    }*/

/*    .api-list-wrapper {*/
/*        flex: 1;*/
/*        overflow: auto;*/
/*    }*/
/*}*/

.content-wrapper {
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: white;
    padding: 16px;
    .content-container{
        /*flex: 1;*/
        /*overflow: hidden;*/
    }
}

pre code.hljs{
    width: 100%;
    /*height: 100%;*/
    min-width: fit-content;
    height: fit-content;
    /*min-height: fit-content;*/
    overflow-x: inherit !important;
}

.api-detail-info{
    position: sticky;
    z-index: 111;
    top: 0;
    background-color: white;
    padding-bottom: 16px;
    .api-info{
        margin-top: 8px;
        display: flex;
        align-items: baseline;
        .method{
            margin-right: 8px;
        }
        .path{
            font-size: 16px;
        }
    }
}

.left-main{
    height: 100%;
    overflow: auto;
    position: relative;
}
